# Unreal Engine
Saved/
Intermediate/
DerivedDataCache/
Binaries/
*.log
*_Auto*.uasset
cachedassetregistry_*.bin

# Visual Studio
.vs/
*.VC.db
*.VC.VC.opendb
*.suo
*.user
*.ipch
*.pch
Saved/Telemetry/Telemetry.json
Saved/SourceControl/UncontrolledChangelists.json
Saved/Telemetry/Telemetry.json
Saved/SourceControl/UncontrolledChangelists.json
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
*.log
